  
<div class="d-flex justify-content-space-between mb-20 mt-25">
    <h4 class="mb-0">Les titres</h4>
    <div>
        <button mat-icon-button  
            (click)="openAddDialog('300ms', '100ms', grand_titre_id)"
            *ngIf="currentUser.accreditation === 'CRUD'" 
            matTooltip="Add new titre">
                <mat-icon>add</mat-icon>
        </button>
    </div> 
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="fw-semibold main-color">No</th>
                <th class="fw-semibold gray-color text-start">Titre</th>
                <th class="fw-semibold gray-color">Statut de publication</th>
                <th class="fw-semibold gray-color">Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let titre of ELEMENT_DATA; let i = index;">
                <td class="main-color fw-semibold">{{i +1}}.</td>
                <td class="text-start fw-semibold">
                    <a [routerLink]="['/web/text-legaux-titre', titre.ID, 'view']" 
                        class="d-flex align-items-center product-info"> 
                        {{titre.titre}}
                    </a>
                </td>
                <td class="gray-color">
                    <span class="badge text-bg-success" *ngIf="titre.is_publie">Publié</span> 
                    <span class="badge text-bg-danger" *ngIf="!titre.is_publie">Pas Publié</span> 
                </td> 
                <td class="gray-color">
                    <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" 
                    [matMenuTriggerFor]="actionMenu">
                    <i class="ri-more-fill"></i>
                </button>
                <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                    <button mat-menu-item type="button" 
                            class="bg-transparent border-none position-relative" 
                            (click)="openEditDialog('300ms', '100ms', titre.ID)"
                            *ngIf="currentUser.accreditation === 'CRUD'">
                            <i class="ri-edit-line"></i> Edit
                    </button> 
                    <button mat-menu-item type="button" 
                            class="bg-transparent border-none position-relative" 
                            (click)="delete(titre.ID)"
                            *ngIf="currentUser.accreditation === 'CRUD'">
                            <i class="ri-delete-bin-3-line"></i> Delete
                    </button> 
                </mat-menu>
                </td>
            </tr> 
        </tbody>
    </table>
</div>

 