<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()"
  [class.card-border-radius]="themeService.isCardBorderRadius()">
    <mat-card-header>
        <h4 class="mb-0">Liste des opinons</h4> 
    </mat-card-header>
    <mat-card-content> 
        <div class="tagus-form-group">
            <mat-form-field appearance="fill">
                <i class="ri-search-line"></i>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8 tagus-mat-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N° </th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        <a [routerLink]="['/web/opinions', element.ID, 'view']">
                            {{i +1}}
                        </a>
                    </td>   
                </ng-container>
 
                 <!-- Nom Column -->
                 <ng-container matColumnDef="sondage_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sujet</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/web/sondages', element.sondage_id, 'view']"> 
                            <app-opinion-sondage [id]="element.sondage_id"></app-opinion-sondage>
                        </a>
                    </td>
                </ng-container> 

                 <!-- Nom Column -->
                 <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilisateur</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/web/users', element.user_id, 'view']"> 
                            <app-opinion-user [id]="element.user_id"></app-opinion-user>
                        </a>
                    </td>
                </ng-container> 

                <!-- Email Column -->
                <ng-container matColumnDef="choice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Choix</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.choice}}
                    </td>
                </ng-container>  

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
 
            </table>
            <mat-paginator #paginator (page)="handlePageChange($event)"
                [length]="totalPages"
                [pageSize]="pageSize"
                [pageIndex]="pageNumber"
                [pageSizeOptions]="[15, 30, 45]">
            </mat-paginator>

            <div *ngIf="isLoading" 
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner [diameter]="30"
                    color="primary" 
                    mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </mat-card-content>
</mat-card>