<div class="row" [class.component-dark-theme]="themeService.isDark()">
    <div class="col-lg-3 col-sm-6">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>1990</h3>
                <div class="icon">
                    <i class="ri-user-star-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Total personnalités</h4>
            <p>Personnalités enregistrées </p>
        </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>207</h3>
                <div class="icon">
                    <i class="ri-user-received-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Total visites journalières</h4>
            <p>Nombre des visites par jour</p>
        </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>2890</h3>
                <div class="icon">
                    <i class="ri-eye-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Total Vues</h4>
            <p>Total des pages visiter </p>
        </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center justify-content-space-between">
                <h3>15</h3>
                <div class="icon">
                    <i class="ri-group-line"></i>
                </div>
            </div>
            <h4 class="fw-semibold">Total utisateurs</h4>
            <p>Utisateurs enregistrés</p>
        </mat-card>
    </div>
</div>