<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
</div>
<div *ngIf="!isLoading">
    <div class="row mb-25" *ngIf="textLegauxTitre">
        <mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
            <mat-card-header class="border-bottom"> 
                <h4>
                    <app-gtitre-view [id]="textLegauxTitre.grand_titre_id"></app-gtitre-view>
                </h4>
                <div>
                    <button mat-icon-button color="accent"  
                    (click)="openEditDialog('300ms', '100ms', textLegauxTitre.ID)"
                        *ngIf="currentUser.accreditation === 'CRUD'" 
                        matTooltip="Modifier ce document">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" 
                            (click)="delete(textLegauxTitre.ID)"
                        *ngIf="currentUser.accreditation === 'CRUD'" 
                        matTooltip="Mettre en corbeille ce document">
                            <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul class="list ps-0 mb-0">
                            <li>
                                <span class="fw-semibold">Titre: </span>
                                <p class="gray-color">{{ textLegauxTitre.titre }}</p>
                            </li>
                            <li>
                                <span class="fw-semibold">Titre Url: </span>
                                <p class="gray-color">{{ textLegauxTitre.titre_url }}</p>
                            </li>
                            <li>
                                <span class="fw-semibold">Signature: </span>
                                <span class="gray-color">{{ textLegauxTitre.signature }}</span>
                            </li>
                            <li>
                                <span class="fw-semibold">Date de creation: </span>
                                <span class="gray-color">{{ textLegauxTitre.CreatedAt | date: 'dd/MM/yyyy' }}</span>
                            </li> 
                            <li>
                                <span class="fw-semibold">Mise à jour le: </span>
                                <span class="gray-color">{{ textLegauxTitre.UpdatedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
                            </li>   
                        </ul> 
                    </div>  
                </div>

                <div class="mb-25">
                    <hr>
                    <div class="d-flex justify-content-space-between">
                        <h2>Chapitres</h2>
                        <div>
                            <button mat-icon-button  
                                [routerLink]="['/web/text-legaux', textLegauxTitre.ID, 'add']"
                                *ngIf="currentUser.accreditation === 'CRUD'" 
                                matTooltip="Add new section">
                                    <mat-icon>add</mat-icon>
                            </button>
                        </div> 
                    </div>
                    <hr>
                    <div *ngFor="let section of textLegauxList">
                        <div class="d-flex justify-content-space-between align-items-center"> 
                            <h4>Chapitre: {{ section.chapitre }}</h4> 
                            <div class="d-flex justify-content-end">
                                <div>
                                    <p class="badge text-bg-success" *ngIf="section.is_valid">Validé</p> 
                                    <p class="badge text-bg-danger" *ngIf="!section.is_valid">Non Validé</p> 
                                </div>
                                <button mat-icon-button color="accent"  
                                    [routerLink]="['/web/text-legaux', section.ID, 'edit']"
                                    *ngIf="currentUser.accreditation === 'CRUD'"  
                                    matTooltip="Modifier cette section">
                                        <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" 
                                    (click)="deleteSection(section.ID)"
                                    *ngIf="currentUser.accreditation === 'CRUD'" 
                                    matTooltip="Supprimer ce document">
                                        <mat-icon>delete</mat-icon>
                                </button>
                            </div> 
                        </div>
                        <!-- <h6 class="mb-25">Section: {{ section.section }}</h6>  -->

                        <div [innerHTML]="section.contenu"></div>
                        <hr>
                    </div>
                </div>
            </mat-card-content> 
        </mat-card> 
    </div>
</div>
